<div class="hidden md:ml-6 md:flex md:space-x-8">
    <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
    <a href="{% url 'home' %}"
       class="{% if request.path == '/' %}border-green-600 text-gray-900{% else %}text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %} border-transparent inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Home</a>
    {% comment %} <a href="{% url 'about' %}" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">About</a> {% endcomment %}
    <a href="{% url 'gallery' %}"
       class="{% if request.path == '/gallery/' %}border-green-600 text-gray-900{% else %}text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %} border-transparent inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Gallery</a>
    <a href="{% url 'events' %}"
       class="{% if request.path == '/events' %}border-green-600 text-gray-900{% else %}text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %} border-transparent inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Events</a>
    {% comment %} <a href="{% url 'blog' %}" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Blog</a> {% endcomment %}
</div>
