{% extends "base.html" %}
{% block content %}
    <h1 class="font-karla text-3xl my-5 text-center text-gray-900 font-bold">Events</h1>
    <!-- Noscript content for added SEO -->
    <noscript><a href="https://www.eventbrite.com/e/burger-night-tickets-356273592907"
   rel="noopener noreferrer"
   target="_blank">Buy Tickets on Eventbrite</a></noscript>
    <div class="max-w-[600px] p-5">
        <h2 class="font-karla text-2xl text-center text-gray-900 font-bold">BBQ Shakedown!</h2>
        <p class="my-3">
            Farm raised barbecue and a band!
        </p>
        <p class="my-3">
            The Hill Hollow Band will be entertaining as we feast on barbecued meats raised here on the farm. Payment will include 3 hours of enjoyment with all you can eat barbecue and sides. Drinks and dessert are at an extra cost.
        </p>
        <p class="my-3"p>
            Grateful Morning Farm is located at 75 Lawrence Rd,  Shaftsbury, VT. We are a 400 acre farm raising certified organic 100% grass fed dairy, organic grass fed beef, pigs, and pastured layer and broiler chickens.
        </p>
        <button class="bg-sky-300 rounded-md w-[250px] h-[50px] mx-auto mt-8 mb-20 block hover:bg-sky-400"
                id="eventbrite-widget-modal-trigger-356273592907"
                type="button">
            Buy Tickets
        </button>
        <h3 class="font-karla text-xl text-gray-900 font-bold">Logistics</h3>
        <p class="mt-3 mb-6"p>
            BBQ Shakedown is a ticketed event. No need to get here early for fear of losing your spot.  We are a working farm and the milk cows will be headed out just before you arrive.
        </p>
        <p class="my-3"p>
            Here are some additional details:
        </p>
        <ul>
            <li class="my-2">
                <p>
                    <span class="font-bold">Meal Service:</span>Our meal service is family style! This means you will be able to go through the buffet line and fill your plate! BBQ and sides will be open for multiple servings. Drinks and desserts will be at an extra cost.  Pies by Sugarhouse Workshop. Beers from Southern Vermont Brewing Company.
                </p>
            </li>
            <li class="my-2">
                <p>
                    <span class="font-bold">Weather:</span>We will not cancel due to inclement weather. Unless there is torrential rain or thunder/lightning, we will run the event.  Each event will have an inclement weather date of the following Sunday for those extreme weather events. We can not guarantee the band for make up events.
                </p>
            </li>
            <li class="my-2">
                <p>
                    <span class="font-bold">Refunds:</span>We will not offer any refunds for tickets purchased. If we need to use the inclement weather date, we will also not offer refunds.  Please understand this policy when you purchase your ticket.
                </p>
            </li>
            <li class="my-2">
                <p>
                    <span class="font-bold">Dog Policy:</span>Dogs are not allowed at this event.  Although we love all  creatures, we want to make sure all animals, farm animals, and humans stay safe and sound at our events.  Thank you for leaving your dogs at home.
                </p>
            </li>
            <li class="my-2">
                <p>
                    <span class="font-bold">We are a Working Farm:</span>A farm is a place with some inherent dangers.  Please understand you are coming to a farm and we ask that you respect our home and space.  We have large equipment, tall hay bales, electric fences, tall grasses, biting insects, prickly plants, rocks, splintery wood, and more.  Kiddos are welcome to run free and be kiddos but we ask that parents keep a close eye on their little ones and help everyone stay safe.  Take the correct precautionary steps necessary for yourself and your little ones – you know best what that means!
                </p>
            </li>
        </ul>
    </div>
{% endblock content %}
{% block extra_scripts %}
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    <script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '356273592907',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-356273592907',
        onOrderComplete: exampleCallback
    });
    </script>
{% endblock extra_scripts %}
