{% extends "base.html" %}
{% block content %}
    <img src
         {% static "img/landscape.jpeg" %}
         alt="View from Grateful Morning Farm"/>
    <div class="mt-12 text-center">
        <h2 class="font-bold font-karla mb-5 text-center text-gray-900 text-2xl">Our Farmstore is Open!</h2>
        <p class="my-4">
            Stop by for a selection of Grateful Morning beef and pork products.
        </p>
        <p class="font-bold">
            Tuesday - Saturday
        </p>
        <p class="font-bold">
            2pm - 4pm
        </p>
        <address class="mt-14">
            <p>
                75 Lawrence Rd
            </p>
            <p>
                Shaftsbury, VT 05262
            </p>
        </address>
        <a href="https://goo.gl/maps/Jc6rWfNhRiQpAwMi6" target="_blank">View on Google Maps</a>
    </div>
{% endblock content %}
